dit247/data/nodered/flows.json
[
    {
        "id": "1b034dd948f70bc1",
        "type": "tab",
        "label": "Main Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e976c9069888c66c",
        "type": "subflow",
        "name": "Minio Upload with Retry",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 180,
                "wires": [
                    {
                        "id": "bb8080b2cb674a7f"
                    },
                    {
                        "id": "b1bd7fda5ba98b74"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1060,
                "y": 360,
                "wires": [
                    {
                        "id": "3eb4ec6b71fc383b",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "ef727b9db2adfa22",
        "type": "minio-config",
        "name": "MinIO",
        "host": "ctr-minio",
        "port": "9000",
        "useSsl": false
    },
    {
        "id": "a2879a264bb699e1",
        "type": "Kafka Broker",
        "name": "",
        "hosts": [
            {
                "host": "ctr-kafka",
                "port": 9992
            }
        ],
        "hostsEnvVar": "",
        "connectTimeout": "10000",
        "requestTimeout": "30000",
        "autoConnect": "true",
        "idleConnection": "5",
        "reconnectOnIdle": "true",
        "maxAsyncRequests": "10",
        "checkInterval": "10",
        "selfSign": true,
        "usetls": false,
        "useCredentials": false
    },
    {
        "id": "b4eca1de14599dd1",
        "type": "delay",
        "z": "e976c9069888c66c",
        "name": "",
        "pauseType": "delayv",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 400,
        "y": 260,
        "wires": [
            [
                "a94c8f23b5147d79"
            ]
        ]
    },
    {
        "id": "3eb4ec6b71fc383b",
        "type": "switch",
        "z": "e976c9069888c66c",
        "name": "if success",
        "property": "payload.putObject",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 380,
        "y": 480,
        "wires": [
            [],
            [
                "bad4bdb7e00b7a80"
            ]
        ]
    },
    {
        "id": "4442b04b4a071572",
        "type": "function",
        "z": "e976c9069888c66c",
        "name": "Increment flow retry counter",
        "func": "// Retrieve the current value of retry_counter from flow context\nlet retry_counter = flow.get('retry_counter') || 0;\n\n// Increment the retry_counter by 1\nretry_counter++;\n\n// Store the updated value back to flow context\nflow.set('retry_counter', retry_counter);\n\n// Pass the message along\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 160,
        "wires": [
            [
                "08d2ca0448438e07"
            ]
        ]
    },
    {
        "id": "bad4bdb7e00b7a80",
        "type": "switch",
        "z": "e976c9069888c66c",
        "name": "if max retries",
        "property": "retry_counter",
        "propertyType": "flow",
        "rules": [
            {
                "t": "lt",
                "v": "n_retries",
                "vt": "flow"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 480,
        "wires": [
            [
                "b4eca1de14599dd1"
            ],
            [
                "0fb09013857b9001"
            ]
        ]
    },
    {
        "id": "0fb09013857b9001",
        "type": "debug",
        "z": "e976c9069888c66c",
        "name": "Minio upload error SF",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 540,
        "wires": []
    },
    {
        "id": "a94c8f23b5147d79",
        "type": "objects",
        "z": "e976c9069888c66c",
        "objects_name": "Upload to Minio",
        "host": "ef727b9db2adfa22",
        "objects_operation": "putObject",
        "objects_bucket": "dit247",
        "objects_object": "msg.objectName",
        "objects_offset": "",
        "objects_length": "",
        "objects_stream": "",
        "objects_size": "",
        "objects_metadata": "",
        "objects_sourceobject": "",
        "objects_conditions": "",
        "objects_objectslist": [],
        "objects_prefix": "",
        "objects_etag": "",
        "objects_datetime": "",
        "x": 560,
        "y": 220,
        "wires": [
            [
                "4442b04b4a071572"
            ],
            [
                "0112c30584db996e"
            ]
        ]
    },
    {
        "id": "bb8080b2cb674a7f",
        "type": "debug",
        "z": "e976c9069888c66c",
        "name": "Retry Input",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 130,
        "y": 100,
        "wires": []
    },
    {
        "id": "b1bd7fda5ba98b74",
        "type": "change",
        "z": "e976c9069888c66c",
        "name": "Init flow retry counter",
        "rules": [
            {
                "t": "set",
                "p": "retry_counter",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 240,
        "wires": [
            [
                "5d04087deb9bf032"
            ]
        ]
    },
    {
        "id": "5d04087deb9bf032",
        "type": "change",
        "z": "e976c9069888c66c",
        "name": "Set flow and minio vars from msg",
        "rules": [
            {
                "t": "set",
                "p": "retry_interval",
                "pt": "flow",
                "to": "retry_interval",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "n_retries",
                "pt": "flow",
                "to": "n_retries",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "filename",
                "pt": "flow",
                "to": "filename",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "objectName",
                "pt": "flow",
                "to": "objectName",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "delay",
                "pt": "flow",
                "to": "retry_interval",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "retry_interval",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "stream",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 180,
        "wires": [
            [
                "b4eca1de14599dd1"
            ]
        ]
    },
    {
        "id": "08d2ca0448438e07",
        "type": "change",
        "z": "e976c9069888c66c",
        "name": "Set msg vars from flow",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "filename",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "objectName",
                "pt": "msg",
                "to": "objectName",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "retry_counter",
                "pt": "msg",
                "to": "retry_counter",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "delay",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 240,
        "wires": [
            [
                "3eb4ec6b71fc383b",
                "48cd93b8d6f54c06"
            ]
        ]
    },
    {
        "id": "ec8669a64cafd68b",
        "type": "debug",
        "z": "e976c9069888c66c",
        "name": "Set flow vars",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 140,
        "wires": []
    },
    {
        "id": "0112c30584db996e",
        "type": "debug",
        "z": "e976c9069888c66c",
        "name": "Minio error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 300,
        "wires": []
    },
    {
        "id": "48cd93b8d6f54c06",
        "type": "debug",
        "z": "e976c9069888c66c",
        "name": "Counter",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "retry_counter",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 100,
        "wires": []
    },
    {
        "id": "57495aeef88197ca",
        "type": "inject",
        "z": "1b034dd948f70bc1",
        "name": "Trigger file upload",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "72b1d545ca225215"
            ]
        ]
    },
    {
        "id": "ca6ee7fdfa42d2df",
        "type": "debug",
        "z": "1b034dd948f70bc1",
        "name": "Image Info",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 400,
        "wires": []
    },
    {
        "id": "1a9eeddc4cba9414",
        "type": "file in",
        "z": "1b034dd948f70bc1",
        "name": "Read image",
        "filename": "filename",
        "filenameType": "msg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 550,
        "y": 440,
        "wires": [
            [
                "ca6ee7fdfa42d2df",
                "9e303cf32bd22a04"
            ]
        ]
    },
    {
        "id": "da3c94e28c43ba3b",
        "type": "buckets",
        "z": "1b034dd948f70bc1",
        "buckets_name": "Make dit247 bucket",
        "host": "ef727b9db2adfa22",
        "buckets_operation": "makeBucket",
        "buckets_bucket": "msg.bucketName",
        "buckets_region": "",
        "buckets_prefix": "",
        "buckets_recursive": false,
        "buckets_start_after": "",
        "x": 290,
        "y": 100,
        "wires": [
            [
                "d6ae18c3095e1e5c"
            ],
            [
                "50a22c84cdef299c"
            ]
        ]
    },
    {
        "id": "b9bc2020c42ff38e",
        "type": "inject",
        "z": "1b034dd948f70bc1",
        "name": "dit247",
        "props": [
            {
                "p": "bucketName",
                "v": "dit247",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "da3c94e28c43ba3b"
            ]
        ]
    },
    {
        "id": "d6ae18c3095e1e5c",
        "type": "debug",
        "z": "1b034dd948f70bc1",
        "name": "Created bucket",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 80,
        "wires": []
    },
    {
        "id": "50a22c84cdef299c",
        "type": "debug",
        "z": "1b034dd948f70bc1",
        "name": "Bucket creation error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 120,
        "wires": []
    },
    {
        "id": "0c367a5447a8e962",
        "type": "objects",
        "z": "1b034dd948f70bc1",
        "objects_name": "Upload to Minio",
        "host": "ef727b9db2adfa22",
        "objects_operation": "putObject",
        "objects_bucket": "dit247",
        "objects_object": "msg.objectName",
        "objects_offset": "",
        "objects_length": "",
        "objects_stream": "",
        "objects_size": "",
        "objects_metadata": "",
        "objects_sourceobject": "",
        "objects_conditions": "",
        "objects_objectslist": [],
        "objects_prefix": "",
        "objects_etag": "",
        "objects_datetime": "",
        "x": 920,
        "y": 440,
        "wires": [
            [
                "e88de00b61e279ac"
            ],
            [
                "9643a93cd0eeeabb"
            ]
        ]
    },
    {
        "id": "e88de00b61e279ac",
        "type": "debug",
        "z": "1b034dd948f70bc1",
        "name": "Minio uploaded object",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 420,
        "wires": []
    },
    {
        "id": "daaf97f3614c55b8",
        "type": "comment",
        "z": "1b034dd948f70bc1",
        "name": "Bucket creation",
        "info": "",
        "x": 500,
        "y": 20,
        "wires": []
    },
    {
        "id": "df9ee7b7a947afb0",
        "type": "buckets",
        "z": "1b034dd948f70bc1",
        "buckets_name": "Make dit247 bucket",
        "host": "ef727b9db2adfa22",
        "buckets_operation": "listBuckets",
        "buckets_bucket": "dit247",
        "buckets_region": "",
        "buckets_prefix": "",
        "buckets_recursive": false,
        "buckets_start_after": "",
        "x": 390,
        "y": 240,
        "wires": [
            [
                "86c27f539378a4ef"
            ],
            [
                "fe4ff32c8faca179"
            ]
        ]
    },
    {
        "id": "0ae26a5063406426",
        "type": "inject",
        "z": "1b034dd948f70bc1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "df9ee7b7a947afb0"
            ]
        ]
    },
    {
        "id": "86c27f539378a4ef",
        "type": "debug",
        "z": "1b034dd948f70bc1",
        "name": "Existing buckets",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 220,
        "wires": []
    },
    {
        "id": "fe4ff32c8faca179",
        "type": "debug",
        "z": "1b034dd948f70bc1",
        "name": "Bucket list error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 260,
        "wires": []
    },
    {
        "id": "0b0f6d9a498d0b26",
        "type": "comment",
        "z": "1b034dd948f70bc1",
        "name": "Bucket list",
        "info": "",
        "x": 120,
        "y": 200,
        "wires": []
    },
    {
        "id": "7380d8596066df37",
        "type": "comment",
        "z": "1b034dd948f70bc1",
        "name": "Upload singe image to Minio",
        "info": "",
        "x": 180,
        "y": 360,
        "wires": []
    },
    {
        "id": "9643a93cd0eeeabb",
        "type": "debug",
        "z": "1b034dd948f70bc1",
        "name": "Minio upload error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 460,
        "wires": []
    },
    {
        "id": "93fd44a4f799e157",
        "type": "Kafka Consumer Group",
        "z": "1b034dd948f70bc1",
        "name": "From dit247",
        "broker": "a2879a264bb699e1",
        "groupId": "aGroup",
        "sessionTimeout": 15000,
        "protocol": [
            "roundrobin"
        ],
        "encoding": "utf8",
        "fromOffset": "latest",
        "commitOffsetsOnFirstJoin": "true",
        "outOfRangeOffset": "earliest",
        "topics": [
            "dit247"
        ],
        "x": 150,
        "y": 840,
        "wires": [
            [
                "2ddf01df8c4f67aa",
                "793abf42209f04f1"
            ]
        ]
    },
    {
        "id": "2ddf01df8c4f67aa",
        "type": "debug",
        "z": "1b034dd948f70bc1",
        "d": true,
        "name": "Consumer output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 780,
        "wires": []
    },
    {
        "id": "9db45e750312c223",
        "type": "comment",
        "z": "1b034dd948f70bc1",
        "name": "Consume Minio bucket event notifications from Kafka broker and invoke Openwhisk action",
        "info": "",
        "x": 370,
        "y": 720,
        "wires": []
    },
    {
        "id": "b4e10aac68da31d1",
        "type": "inject",
        "z": "1b034dd948f70bc1",
        "name": "Repeatedly trigger file upload",
        "props": [
            {
                "p": "n_retries",
                "v": "6",
                "vt": "num"
            },
            {
                "p": "retry_interval",
                "v": "2000",
                "vt": "num"
            }
        ],
        "repeat": "4",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 620,
        "wires": [
            [
                "f29d16a230645358"
            ]
        ]
    },
    {
        "id": "4128b11595d08aef",
        "type": "file in",
        "z": "1b034dd948f70bc1",
        "name": "Read image",
        "filename": "filename",
        "filenameType": "msg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 670,
        "y": 620,
        "wires": [
            [
                "c7c95dd1e7ec9b91"
            ]
        ]
    },
    {
        "id": "43586bcf09904814",
        "type": "comment",
        "z": "1b034dd948f70bc1",
        "name": "Upload successive images to Minio with Retry",
        "info": "",
        "x": 230,
        "y": 520,
        "wires": []
    },
    {
        "id": "c7c95dd1e7ec9b91",
        "type": "subflow:e976c9069888c66c",
        "z": "1b034dd948f70bc1",
        "name": "",
        "x": 910,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "2653db1a4a81ce0e",
        "type": "buckets",
        "z": "1b034dd948f70bc1",
        "buckets_name": "Make dit247c bucket",
        "host": "ef727b9db2adfa22",
        "buckets_operation": "makeBucket",
        "buckets_bucket": "msg.bucketName",
        "buckets_region": "",
        "buckets_prefix": "",
        "buckets_recursive": false,
        "buckets_start_after": "",
        "x": 940,
        "y": 100,
        "wires": [
            [
                "c6e5ce32b399d6d5"
            ],
            [
                "b48368596f8ace38"
            ]
        ]
    },
    {
        "id": "13aedba99812d38e",
        "type": "inject",
        "z": "1b034dd948f70bc1",
        "name": "dit247c",
        "props": [
            {
                "p": "bucketName",
                "v": "dit247c",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 770,
        "y": 100,
        "wires": [
            [
                "2653db1a4a81ce0e"
            ]
        ]
    },
    {
        "id": "c6e5ce32b399d6d5",
        "type": "debug",
        "z": "1b034dd948f70bc1",
        "name": "Created bucket",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 80,
        "wires": []
    },
    {
        "id": "b48368596f8ace38",
        "type": "debug",
        "z": "1b034dd948f70bc1",
        "name": "Bucket creation error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 120,
        "wires": []
    },
    {
        "id": "30ab8280f49e6689",
        "type": "comment",
        "z": "1b034dd948f70bc1",
        "name": "Init image bucket",
        "info": "",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "467ec312ca4b5881",
        "type": "comment",
        "z": "1b034dd948f70bc1",
        "name": "Compressed image bucket",
        "info": "",
        "x": 810,
        "y": 40,
        "wires": []
    },
    {
        "id": "d20b6b4546f3edd5",
        "type": "http in",
        "z": "1b034dd948f70bc1",
        "name": "Minio webhook request",
        "url": "/compressed-images",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 1040,
        "wires": [
            [
                "eca0a0c5eb12b906",
                "fc361a7ac8c6cd81"
            ]
        ]
    },
    {
        "id": "fc361a7ac8c6cd81",
        "type": "debug",
        "z": "1b034dd948f70bc1",
        "name": "Webhook output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 1080,
        "wires": []
    },
    {
        "id": "b4d918734d429aa9",
        "type": "comment",
        "z": "1b034dd948f70bc1",
        "name": "Receive Minio webhook request from compressed image upload",
        "info": "",
        "x": 290,
        "y": 940,
        "wires": []
    },
    {
        "id": "eca0a0c5eb12b906",
        "type": "http response",
        "z": "1b034dd948f70bc1",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 400,
        "y": 1040,
        "wires": []
    },
    {
        "id": "3b6866763d1d539e",
        "type": "comment",
        "z": "1b034dd948f70bc1",
        "name": "Change response code to 400 to test minio's retry configuration",
        "info": "",
        "x": 290,
        "y": 980,
        "wires": []
    },
    {
        "id": "7d09e6983466027a",
        "type": "comment",
        "z": "1b034dd948f70bc1",
        "name": "Stop Minio service|Change repeat option to test retry pattern",
        "info": "",
        "x": 280,
        "y": 560,
        "wires": []
    },
    {
        "id": "72b1d545ca225215",
        "type": "function",
        "z": "1b034dd948f70bc1",
        "name": "File random choice",
        "func": "// Generate a random integer between 1 and 631\nvar x = Math.floor(Math.random() * 631) + 1;\n\n// Format the string\nmsg.filename = `/data/images/file-${x}.jpg`;\n\nmsg.objectName = `file-${x}.jpg`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 440,
        "wires": [
            [
                "1a9eeddc4cba9414"
            ]
        ]
    },
    {
        "id": "f29d16a230645358",
        "type": "function",
        "z": "1b034dd948f70bc1",
        "name": "File random choice",
        "func": "// Generate a random integer between 1 and 631\nvar x = Math.floor(Math.random() * 631) + 1;\n\n// Format the string\nmsg.filename = `/data/images/file-${x}.jpg`;\n\nmsg.objectName = `file-${x}.jpg`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 620,
        "wires": [
            [
                "4128b11595d08aef"
            ]
        ]
    },
    {
        "id": "efab846a6380c699",
        "type": "http request",
        "z": "1b034dd948f70bc1",
        "name": "Invoke Openwhisk action",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 750,
        "y": 840,
        "wires": [
            [
                "7cb1dbb225399d25"
            ]
        ]
    },
    {
        "id": "7cb1dbb225399d25",
        "type": "debug",
        "z": "1b034dd948f70bc1",
        "name": "Openwhisk action response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 840,
        "wires": []
    },
    {
        "id": "9e303cf32bd22a04",
        "type": "change",
        "z": "1b034dd948f70bc1",
        "name": "Set msg.stream",
        "rules": [
            {
                "t": "set",
                "p": "stream",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 440,
        "wires": [
            [
                "0c367a5447a8e962"
            ]
        ]
    },
    {
        "id": "fa0f7050ba4311ac",
        "type": "function",
        "z": "1b034dd948f70bc1",
        "name": "Set action invokation input",
        "func": "// Get the flow variable\nlet vmip = flow.get(\"vmip\");\n\n// Construct the URL with the flow variable\nmsg.url = `http://${vmip}:3233/api/v1/namespaces/guest/actions/minio?blocking=true&result=true`;\n\n// Parse msg.payload from a string to an object (if it's a JSON string)\nlet payloadObj = {};\ntry {\n    payloadObj = JSON.parse(msg.payload);\n} catch (e) {\n    // Handle error if the payload is not a valid JSON string\n    node.warn(\"Payload is not a valid JSON string, proceeding with empty object.\");\n}\n\n// Add the vmip key-value pair to the msg.payload object\npayloadObj.vmip = vmip;\n\n// Update msg.payload with the modified object\nmsg.payload = payloadObj;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 840,
        "wires": [
            [
                "efab846a6380c699",
                "9edaebefc8bfd8ab"
            ]
        ]
    },
    {
        "id": "9edaebefc8bfd8ab",
        "type": "debug",
        "z": "1b034dd948f70bc1",
        "name": "Action invocation input",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 780,
        "wires": []
    },
    {
        "id": "793abf42209f04f1",
        "type": "change",
        "z": "1b034dd948f70bc1",
        "name": "Set vmip",
        "rules": [
            {
                "t": "set",
                "p": "vmip",
                "pt": "flow",
                "to": "10.0.2.15",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 840,
        "wires": [
            [
                "fa0f7050ba4311ac"
            ]
        ]
    }
]